*

!.gitignore

!*.md

!package.json
!package-lock.json

!src-tauri

!src-tauri/build.rs
!src-tauri/Cargo.toml
!src-tauri/Cargo.lock
!src-tauri/tauri.conf.json

!src-tauri/capabilities
!src-tauri/capabilities/**

!src-tauri/gen
!src-tauri/gen/**

!src-tauri/icons
!src-tauri/icons/icon.icns
!src-tauri/icons/icon.ico

!src-tauri/src
!src-tauri/src/**
